<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buddy Page</title>
</head>
<body>
    <center>
        <h1>👉👉👉👉Buddy PAge👈👈👈👈</h1>
        <h1>This is an amazing file !!!.....</h1>
        <h1>It looks like a one beautiful moment of life...</h1>
        <a href="{% url 'app2:Sravs' %}">Go to the Sravs File</a>
    </center>
</body>
</html>